#textdomain wesnoth-Saving_Elensefar

[unit_type]
    id=Elvish Mariner
    name= _ "Elvish Mariner"
    race=elf
    image="units/elvish-mariner.png"
    [defend]
        [frame]
            begin=-150
            end=150
            image="units/elvish-mariner-defend.png"
        [/frame]
    [/defend]
    profile="portraits/Meneldur.png"
    hitpoints=36
    movement_type=woodland
    movement=6
    experience=50
    level=1
    alignment=neutral
    advances_to=Elvish Navigator
    cost=40
    usage=fighter
    description=_ "Separated from Elvish society because of his love of the sea, the Elvish Mariner has obtained command of a ship and often sails the seas in search of adventure."
    {DEFENSE_ANIM "units/elvish-mariner.png" "units/elvish-mariner.png" {SOUND_LIST:ELF_HIT}}
    die_sound={SOUND_LIST:ELF_HIT}
    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-elven.png
        type=impact
        range=melee
        damage=6
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            sound=sword-1.ogg
            begin=-250
            end=-249
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/elvish-mariner-attack.png"
        [/frame]
    [/attack_anim]
[/unit_type]
