#textdomain wesnoth-Saving_Elensefar

[unit_type]
    id=Elvish Admiral
    name= _ "Elvish Admiral"
    race=elf
    image="units/elvish-admiral.png"
    [defend]
        [frame]
            begin=-150
            end=-150
            image="units/elvish-admiral-defend.png"
        [/frame]
    [/defend]
    image_leading="units/elvish-admiral-leading.png"
    profile="portraits/Meneldur.png"
    hitpoints=54
    movement_type=woodland
    movement=6
    level=3
    alignment=neutral
    experience=150
    {AMLA_DEFAULT}
    cost=40
    usage=fighter
    [abilities]
        {ABILITY_INSPIRE_LEVEL_3}
    [/abilities]
    description=_ "In command of the whole Elensian fleet, the Elvish Admiral follows the orders of the Lord of Elensefar - when it suits him to do so. He has left elvish land to join Elensefar, and for this is considered a traitor."
    {DEFENSE_ANIM "units/elvish-admiral.png" "units/elvish-admiral.png" {SOUND_LIST:ELF_HIT}}
    die_sound={SOUND_LIST:ELF_HIT}
    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-elven.png
        type=impact
        range=melee
        damage=16
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            sound=sword-1.ogg
            begin=-250
            end=-249
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/elvish-admiral-attack-1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/elvish-admiral-attack-2.png"
        [/frame]
    [/attack_anim]
[/unit_type]
