#textdomain wesnoth-Saving_Elensefar

#define KILL_MENELDUR
    [store_unit]
        [filter]
            id=Meneldur
        [/filter]
        kill=yes
        variable=Meneldur
    [/store_unit]
#enddef

#define RESTORE_MENELDUR
    [unstore_unit]
        x,y=recall,recall
        variable=Meneldur
    [/unstore_unit]
    [heal_unit]
        [filter]
            id=Meneldur
        [/filter]
        amount=999
    [/heal_unit]
#enddef

#define UNSTORE_ENEMY V
    {IF_VAR isles.{V}.status equals retreated (
        [then]
            {FOREACH isles.{V}.units a}
                [unstore_unit]
                    variable=isles.{V}.units[$a]
                [/unstore_unit]
                [heal_unit]
                    [filter]
                        id=isles.{V}.units[$a].id
                    [/filter]
                    amount=999
                [/heal_unit]
            {NEXT a}
            {FOREACH isles.{V}.villages b}
                [capture_village]
                    side=2
                    x,y=$isles.{V}.villages[$b].x,$isles.{V}.villages[$b].y
                [/capture_village]
            {NEXT b}
            {CLEAR_VARIABLE isles.{V}.units|,isles.{V}.villages}
            {VARIABLE isles.{V}.status played}
        [/then]
    )}
#enddef

#define GIVE_EXP TURNS_EASY TURNS_NORMAL TURNS_HARD
    [event]
        name=enemies defeated

        {CUE_VICTORY}
        [store_unit]
            [filter]
                side=1
                x=1-999
                y=1-999
            [/filter]
            variable=giveex
        [/store_unit]

#ifdef EASY
        {VARIABLE bonus "$(({TURNS_EASY}-$turn_number)*2)"}
#endif
#ifdef NORMAL
        {VARIABLE bonus "$(({TURNS_NORMAL}-$turn_number)*2)"}
#endif
#ifdef HARD
        {VARIABLE bonus "$(({TURNS_HARD}-$turn_number)*2)"}
#endif
        {FOREACH giveex X}
            {VARIABLE_OP giveex[$X].experience add $bonus}
            [unstore_unit]
                variable=giveex[$X]
                fire_event=yes
            [/unstore_unit]
        {NEXT X}
        {CLEAR_VARIABLE giveex,bonus}
    [/event]
#enddef

#define START_A_SCENE EDGE_X EDGE_Y SHIP_X SHIP_Y KEEP_X KEEP_Y SCENNUM
    [event]
        name=moveto
        first_time_only=no

        [filter]
            x,y={SHIP_X},{SHIP_Y}
            id=Meneldur
        [/filter]
        {CUE_DOOM}
        [message]
            speaker=narrator
            message= _ "Do you really want to run away?"
            [option]
                message= _ "Yes"
                [command]
                    [message]
                        id=Meneldur
                        message= _ "Fall back!"
                        image=wesnoth-icon.png
                    [/message]
                    {VARIABLE isles.{SCENNUM}.status retreated}
                    {VARIABLE retreatednotwon yes}
                    {IF_VAR turnsleft less_than 6 (
                        [then]
                            {VARIABLE_OP turnsleft add 1}
                        [/then]
                    )}
                    [store_unit]
                        [filter]
                            side=2
                            canrecruit=no
                        [/filter]
                        variable=isles.{SCENNUM}.units
                    [/store_unit]
                    [store_villages]
                        side=2
                        variable=isles.{SCENNUM}.villages
                    [/store_villages]
                    [endlevel]
                        result=victory
                        bonus=no
                        carryover_add=no
                        carryover_percentage=40
                    [/endlevel]
                [/command]
            [/option]
            [option]
                message= _ "No"
                [command]
                    [message]
                        id=Meneldur
                        message= _ "Fight on!"
                    [/message]
                [/command]
            [/option]
        [/message]
    [/event]

    [event]
        name=prestart
        {CUE_SILENCE}
        [hide_unit]
            x,y={KEEP_X},{KEEP_Y}
        [/hide_unit]
        {CLEAR_FOG 1 {SHIP_X} {SHIP_Y} 3}
        {CLEAR_FOG 1 {EDGE_X} {EDGE_Y} 3}
    [/event]

    [event]
        name=start
        {CUE_ELVES}
        [move_unit_fake]
            x={EDGE_X},{SHIP_X}
            y={EDGE_Y},{SHIP_Y}
            side=1
            type="units/Black Galleon~RC(magenta>red)"
        [/move_unit_fake]
        [terrain]
            x,y={SHIP_X},{SHIP_Y}
            terrain=Wo^Wsd
        [/terrain]
        [move_unit_fake]
            x={SHIP_X},{KEEP_X}
            y={SHIP_Y},{KEEP_Y}
            side=1
            type=$Meneldur.type
        [/move_unit_fake]
        {UNCLEAR_FOG}
        [unhide_unit]
            x,y={KEEP_X},{KEEP_Y}
        [/unhide_unit]
        [recall]
            id=Madru
            placement=leader
        [/recall]
        [recall]
            id=Black the Red
            placement=leader
        [/recall]

        [redraw]
            side=1
        [/redraw]

        {IF_VAR retreat_hint not_equals yes (
            [then]
                [message]
                    id=Madru
                    message=_"Remember we can retreat at any time, just move your leader to the ship."
                [/message]
                [message]
                    id=Black the Red
                    message=_"But then we haven't time to refill our ship..."
                [/message]
                [message]
                    id=Meneldur
                    message=_"I hope it would never be needed."
                [/message]
                {VARIABLE retreat_hint yes}
            [/then]
        )}
    [/event]
#enddef

#define MENELDUR_SIDE
    side=1
    controller=human
    canrecruit=yes
    type=Elvish Mariner
    id=Meneldur
    name= _ "Meneldur"
    unrenamable=yes
    team_name=good
    user_team_name= _"Elensefar's Loyalists"
    {FLAG_VARIANT long}
#enddef

#define UNIT_MSG FILTER MSG
    [scroll_to_unit]
        {FILTER}
    [/scroll_to_unit]
    [message]
        {FILTER}
        message={MSG}
    [/message]
#enddef

#define DIE_DEFEAT FILTER SPEAKER MSG
    [event]
        name=last breath
        [filter]
            {FILTER}
        [/filter]
        {UNIT_MSG {FILTER} {MSG}}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef
