#textdomain wesnoth-Saving_Elensefar

[scenario]
    id=sea_voyage_14
    next_scenario=sea_voyage_fake2
    name= _ "Blackmore the Black"
    map_data="{~add-ons/Saving_Elensefar/maps/Blackmore_the_Black.map}"
    {TURNS 24 20 18}

    {SE_SCHEDULE main}
    {SCENARIO_MUSIC loyalists.ogg}

    [side]
        {MENELDUR_SIDE}
        user_team_name= _"Undead-Elf-Alliance"
    [/side]

    [side]
        side=2
        controller=ai
        id=Ah-Reblak
        name= _"Ah-Reblak"
        type=Lich
        canrecruit=yes
        [modifications]
            {TRAIT_LOYAL}
        [/modifications]
        {IS_HERO}
#ifdef EASY
        recruit=Skeleton,Skeleton Archer,Ghost,Walking Corpse,Vampire Bat,Peasant
#else
        recruit=Skeleton,Skeleton Archer,Walking Corpse,Peasant
#endif
        {GOLD 150 200 300}
        team_name=good
        user_team_name= _"Undead-Elf-Alliance"
        {FLAG_VARIANT undead}
    [/side]

    [side]
        side=3
        controller=ai
        id=Bahtak
        name= _"Bahtak"
        type=Orcish Warlord
        canrecruit=yes
#ifdef EASY
        recruit=Orcish Warrior,Orcish Grunt,Wolf Rider,Goblin Knight,Orcish Crossbowman
#endif
#ifdef NORMAL
        recruit=Orcish Warrior,Orcish Grunt,Wolf Rider,Orcish Assassin,Goblin Knight,Orcish Crossbowman
#endif
#ifdef HARD
        recruit=Orcish Warrior,Orcish Grunt,Wolf Rider,Orcish Assassin,Orcish Slayer,Goblin Knight,Orcish Crossbowman
#endif
        {GOLD 200 250 300}
        {INCOME 8 12 16}
        village_gold=3
        team_name=bad
        user_team_name= _"Revolting Orcs"
        [ai]
            aggression=0.7
            caution=0.3
            {NO_SCOUTS}
        [/ai]
        {FLAG_VARIANT ragged}
    [/side]

    [side]
        side=4
        controller=ai
        id=Ahtanuk
        name= _"Ahtanuk"
        type=Orcish Warlord
        canrecruit=yes
#ifdef EASY
        recruit=Orcish Warrior,Orcish Grunt,Wolf Rider,Goblin Knight,Orcish Crossbowman
#endif
#ifdef NORMAL
        recruit=Orcish Warrior,Orcish Assassin,Goblin Knight,Orcish Crossbowman,Orcish Grunt,Wolf Rider
#endif
#ifdef HARD
        recruit=Orcish Warrior,Orcish Assassin,Orcish Slayer,Goblin Knight,Orcish Crossbowman,Orcish Grunt,Wolf Rider
#endif
        {GOLD 150 200 250}
        {INCOME 8 12 16}
        village_gold=3
        team_name=bad
        user_team_name= _"Revolting Orcs"
        [ai]
            aggression=0.7
            caution=0.3
            {NO_SCOUTS}
        [/ai]
        {FLAG_VARIANT ragged}
    [/side]

    {STARTING_VILLAGES 3 6}
    {STARTING_VILLAGES 4 6}
    {STARTING_VILLAGES 2 6}

    [event]
        name=prestart

        [objectives]
            side=1
            [objective]
                description= _ "Defeat enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Meneldur"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Madru"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Black the Red"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Ah-Reblak"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
        [/objectives]
    [/event]

    {DEATHS_SEA}

    [event]
        name=start

        [recall]
            id=Madru
        [/recall]
        [recall]
            id=Black the Red
        [/recall]
        [message]
            id=Meneldur
            message= _ "Black, why have you brought us here?!? This is just a remnant of a town, and there are no warriors here, just undead and orcs!"
        [/message]
        [message]
            id=Black the Red
            message= _ "No, no, you are wrong there. This is no ruined city, this is Blackmore the Black, and for the past seventy years it has been the home of the Wesfolk who remained on this island."
        [/message]
        [message]
            id=Madru
            message= _ "You mean those undead over there are 'Wesfolk'? As in the Wesfolk who came over with Lady Jessica?"
        [/message]
        [message]
            id=Meneldur
            message= _ "I would assume that is what he means, yes. So, Black, you've brought us here to have these Wesfolk help us?"
        [/message]
        [message]
            id=Black the Red
            message= _ "Well, yes, something like that."
        [/message]
        [message]
            id=Ah-Reblak
            message= _ "I see, brother, that you have returned with warriors. Are they to help us defeat these orcs?"
        [/message]
        [message]
            id=Meneldur
            message= _ "What? That's not why we're here!"
        [/message]
        [message]
            id=Black the Red
            message= _ "Well, yes it is. You have to help them secure this city before they will help you."
        [/message]
        [message]
            id=Ah-Reblak
            message= _ "Help them? Help Islefolk? Why would we do that?"
        [/message]
        [message]
            id=Black the Red
            message= _ "These are not Islefolk, brother, they are descendants of the Wesfolk who came over with Lady Jessica."
        [/message]
        [message]
            id=Ah-Reblak
            message= _ "What!? Followers of that deserter!? I can't believe you think we would help them!"
        [/message]
        [message]
            id=Black the Red
            message= _ "I didn't have a choice, they needed help, so I made a deal that we would help them if they helped us."
        [/message]
        [message]
            id=Meneldur
            message= _ "Trust me, we don't like helping undead any more than you like helping us 'deserters'."
        [/message]
        [message]
            id=Ah-Reblak
            message= _ "Fine. I'll help you do whatever it is you want to do, once we clear this land of the orcs."
        [/message]
        [message]
            id=Ahtanuk
            message= _ "Int'resting council! But now, little men, its time to die. Get'm!"
        [/message]
    [/event]

    [event]
        name=turn 4, 8, 12, 16, 20

        [gold]
            side=4
            {QUANTITY amount 50 70 90}
        [/gold]
    [/event]

    [event]
        name=turn 5, 10, 15, 20

        [gold]
            side=3
            {QUANTITY amount 50 70 90}
        [/gold]
    [/event]

    [event]
        name=victory

        [message]
            id=Meneldur
            message= _ "Well, we've cleared the orcs away. Come on, now you have to hold up your end of the bargain."
        [/message]
        [message]
            id=Ah-Reblak
            message= _ "Well, the orcs will probably be back soon... I think that we are going to end up dying here, no matter what you do. We have held up extraordinarily long already."
        [/message]
        [message]
            id=Black the Red
            message= _ "That's true. I think it would be best if we could get enough ships to get off of this island. The one I went out on was our last, and we can't make more."
        [/message]
        [message]
            id=Meneldur
            message= _ "Well, I am a shipbuilder. I could help you build more ships, and then you could bring all of your people back east with us."
        [/message]
        [message]
            id=Black the Red
            message= _ "That sounds good."
        [/message]
        [message]
            id=Madru
            message= _ "Then it is agreed. But after that, you have to help us fight the orcs!"
        [/message]
        [store_unit]
            [filter]
                side=2
                canrecruit=yes
            [/filter]
            variable=stored_Ah-Reblak
        [/store_unit]
    [/event]
[/scenario]
