#textdomain wesnoth-Saving_Elensefar

[scenario]
    id=sea_voyage_fake2
    next_scenario=sea_voyage_plus1
    name= _ "Return to Elensefar"
    map_data="{~add-ons/Saving_Elensefar/maps/fake2-Return_to_Elensefar.map}"
    turns=-1

    {FIRST_WATCH}

    [story]
        [part]
            story= _ "And so Meneldur helped the Wesfolk build ships. They built three sturdy galleons, which was enough to hold all of them. That is how few of that once great race remained."
        [/part]
        [part]
            story= _ "The necromancers who were on the ships cast a spell of darkness and swiftness over the boat. The next thing Meneldur and his men knew, they had reached the delta of the Great River, where Elensefar was built."
        [/part]
    [/story]

    [side]
        {MENELDUR_SIDE}
        shroud=yes
        fog=no
    [/side]

    [event]
        name=prestart

        {CUE_ELVES}

        [hide_unit]
            x,y=56,2
        [/hide_unit]

        {FOREACH store n}
            [unit]
                x,y=store[$n].x,store[$n].y
                side=1
                type=Black Galleon
            [/unit]
        {NEXT n}

        [redraw]
            side=1
        [/redraw]

        [store_reachable_locations]
            [filter]
                side=1
            [/filter]
            range=vision
            variable=visible_locs
        [/store_reachable_locations]
        [store_locations]
            x,y=1-999,1-999
            [not]
                find_in=visible_locs
            [/not]
            variable=hidden_locs
        [/store_locations]
        {FOREACH hidden_locs i}
            [terrain]
                x,y=$hidden_locs[$i].x,$hidden_locs[$i].y
                terrain=Xv
            [/terrain]
        {NEXT i}
        {CLEAR_VARIABLE hidden_locs,visible_locs}

        [redraw]
            side=1
        [/redraw]

        [kill]
            type=Black Galleon
        [/kill]
        [set_recruit]
            recruit=
        [/set_recruit]
    [/event]

    [event]
        name=start

        [move_unit_fake]
            x=7,56
            y=13,2
            side=1
            type=Black Galleon
        [/move_unit_fake]
        [item]
            x,y=56,2
            image="units/black-galleon.png~TC(magenta>red)"
        [/item]
        [unhide_unit]
            x,y=56,2
        [/unhide_unit]
        [recall]
            id=Madru
        [/recall]
        [recall]
            id=Black the Red
        [/recall]
        [delay]
            time=500
        [/delay]
        [message]
            id=Meneldur
            message= _ "Well, now we are in the port of Elensefar... It is time to retake Elensefar, as we aided Blackmore. So... does anyone have an idea as to how to attack the city?"
        [/message]
        [message]
            id=Black the Red
            caption= _"Black the Red's Idea"
            message= _ "Here; this is my plan. On the northern side of the river, there is a cave where smugglers hide their goods. I know some bandits who won't alert anyone if we land there."
            image="story/saving_elensefar_1.jpg"
        [/message]
        [message]
            id=Meneldur
            message= _ "But they won't help us?"
        [/message]
        [message]
            id=Black the Red
            message= _ "Uhm... no, probably not. But we would be rather secretive, they probably wouldn't notice us."
        [/message]
        [message]
            id=Meneldur
            message= _ "Madru, do you have any suggestions?"
        [/message]
        [message]
            id=Madru
            caption= _"Madru's Suggestion"
            message= _ "Well, we could always land on the south beach. There is a harbor there, and a quick route from there to inside the city."
            image="story/saving_elensefar_2.jpg"
        [/message]
        [message]
            id=Meneldur
            message= _ "But won't they see us there?"
        [/message]
        [message]
            id=Madru
            message= _ "Yes, but what's wrong with a head on battle? I think we could defeat them."
        [/message]
        [message]
            id=Meneldur
            caption= _"Meneldur's Plan"
            message= _ "Well, I think maybe we should land right in Elensefar itself. That way, we can go around most of the orcish defenses, which are probably guarding the bridges to the city."
            image="story/saving_elensefar_3.jpg"
        [/message]
        [message]
            id=Madru
            message= _ "That is a bold plan, but I'm not sure it will work. If you do not succeed immediately, you will have alerted the orcs to our presence without accomplishing anything."
        [/message]
        [message]
            id=Meneldur
            caption= _"A Choice must be make"
            image="story/saving_elensefar_4.jpg"
            message= _ "Hm... you are right there. Which plan should we use?"
            [option]
                message= _ "I say we head north, as you proposed."
                [command]
                    {VARIABLE whichwaytogo north}
                [/command]
            [/option]
            [option]
                message= _ "Madru's plan to head south sounds the best."
                [command]
                    {VARIABLE whichwaytogo south}
                [/command]
            [/option]
            [option]
                message= _ "Both of your plans were good, but I will stick to my own, and land in the harbor."
                [command]
                    {VARIABLE whichwaytogo harbour}
                [/command]
            [/option]
        [/message]
        [message]
            id=Madru
            message= _"Very well. Let us not waste any more time, we must fight now."
        [/message]
        [unit]
            side=1
            x,y=recall,recall
            type=Revenant
        [/unit]
        [unit]
            side=1
            x,y=recall,recall
            type=Revenant
        [/unit]
        [unit]
            side=1
            x,y=recall,recall
            type=Revenant
        [/unit]
        [unit]
            side=1
            x,y=recall,recall
            type=Bone Shooter
        [/unit]
        [unit]
            side=1
            x,y=recall,recall
            type=Bone Shooter
        [/unit]
        [unit]
            side=1
            x,y=recall,recall
            type=Deathblade
        [/unit]
        [endlevel]
            result=victory
            linger_mode=no
            bonus=no
            carryover_add=no
            carryover_report=no
            carryover_percentage=100
        [/endlevel]
    [/event]
[/scenario]
