#textdomain wesnoth-Saving_Elensefar

[scenario]
    id=sea_voyage_3
    next_scenario=sea_voyage_4
    name= _ "Theft"
    map_data="{~add-ons/Saving_Elensefar/maps/Theft.map}"
    {TURNS 24 20 18}

    {SE_SCHEDULE lone}
    {SCENARIO_MUSIC loyalists.ogg}

    [side]
        {MENELDUR_SIDE}
#ifdef HARD
        recruit=Merman Fighter
#endif
#ifdef NORMAL
        recruit=Merman Fighter,Mermaid Initiate
#endif
#ifdef EASY
        recruit=Merman Fighter,Mermaid Initiate,Merman Hunter
#endif
        shroud=yes
        fog=yes
    [/side]

    [side]
        side=2
        controller=ai
        id=Dal-Alkra
        name= _"Dal-Alkra"
        type=Orcish Warrior
        canrecruit=yes
        recruit=Orcish Grunt, Troll Whelp, Orcish Archer
        {GOLD 100 150 200}
        income=6
        [ai]
            aggression=0.7
            caution=0.3
            village_value=0.5
            {NO_SCOUTS}
        [/ai]
    [/side]

    [event]
        name=prestart

        [objectives]
            side=1
            [objective]
                description= _ "Defeat enemy leader"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Meneldur"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Madru"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Black the Red"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Psison"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
        [/objectives]
        [hide_unit]
            x,y=13,4
        [/hide_unit]
        [item]
            x,y=15,1
            image=units/black-galleon.png
        [/item]
    [/event]

    {DEATHS_SEA}

    [event]
        name=start

        [unhide_unit]
            x,y=13,4
        [/unhide_unit]
        [recall]
            id=Madru
        [/recall]
        [recall]
            id=Black the Red
        [/recall]
        [message]
            id=Meneldur
            message= _ "Are there any inhabitants of this island? We come in peace, we just want to restock our ship and then be on our way..."
        [/message]
        [remove_item]
            x,y=15,1
        [/remove_item]
        [message]
            id=Black the Red
            message= _ "Hey! What happened to The Explorer! She's gone!"
        [/message]
        [message]
            id=Madru
            message= _ "Someone must have stolen her. It looks like we're stuck on this island."
        [/message]
        [unit]
            type=Merman Hoplite
            side=1
            x,y=14,4
            id=Psison
            name= _"Psison"
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_RESILIENT}
            [/modifications]
            {IS_HERO}
        [/unit]
        [message]
            id=Psison
            message= _ "Hello, I believe I can help."
        [/message]
        [message]
            id=Meneldur
            message= _ "Who are you, and what do you want?"
        [/message]
        [message]
            id=Psison
            message= _ " I am the leader of a great tribe of mermen. I think it was the nagas, our enemies, who stole your boat. I will lend you the aid of my fighters to get it back."
        [/message]
        [unit]
            type=Black Galleon
            x,y=4,8
            ai_special=guardian
            moves=0
            side=2
        [/unit]
    [/event]

    {ON_SIGHTING (sighted_explorer) 1 "type=Black Galleon" (
        [message]
            speaker=unit
            message= _ "Hey, look, I see the boat! Nagas are moving it southwest."
        [/message]
        [kill]
            type=Black Galleon
        [/kill]
        [unit]
            x,y=4,8
            type=Naga Warrior
            side=2
        [/unit]
        [message]
            type=Naga Warrior
            message= _ "They've found us! Workers, get that boat out of here! We will secure time for your escape."
        [/message]
        [unit]
            x,y=4,8
            type=Naga Fighter
            side=2
        [/unit]
        [unit]
            x,y=4,8
            type=Naga Fighter
            side=2
        [/unit]
        [unit]
            x,y=4,8
            type=Naga Fighter
            side=2
        [/unit]
#ifdef HARD
        [unit]
            x,y=4,8
            type=Naga Warrior
            side=2
        [/unit]
#endif
#ifdef NORMAL
        [unit]
            x,y=4,8
            type=Naga Fighter
            side=2
        [/unit]
#endif
    )}

    {ON_SIGHTING (sighted_orcs) 1 race=orc (
        [message]
            id=Meneldur
            message= _ "Orcs! Kill them!"
        [/message]
    )}

    [event]
        name=moveto

        [filter]
            x,y=1-5,16-20
            side=1
        [/filter]
        [message]
            id=Black the Red
            message= _ "A bridge! What do you think is across it?"
        [/message]
        [message]
            id=Meneldur
            message= _ "Probably our boat... but we need to defeat these orcs before we get it, or else they will attack us from behind."
        [/message]
    [/event]

    [event]
        name=die

        [filter]
            canrecruit=yes
            side=2
        [/filter]
        [message]
            speaker=narrator
            message= _ "You find 100 gold pieces in the orc's castle."
            image=wesnoth-icon.png
        [/message]
        [gold]
            side=1
            amount=100
        [/gold]
    [/event]
[/scenario]